body {
  background-color: black;
}

#root {
  width: 550px;
  height: 868px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-height:780px;
  width: 317px;
  display: flex;
  flex-direction:column;
  align-items: flex-end; 
  border-radius: 10px;
  background-color: #1A1B21;
}

.footer {
  height: 80px;
  width: 317px;
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.footer-icons {
  height: 40px;
}

.footer-icon {
  padding: 5px 5px;
  background-color: #918E9B;
  border-radius: 2px;
  margin: 10px;
}

.footer-icon:hover {
  filter: drop-shadow(0 0 10px #ffff);
  background-color: #ffff;
}

.interests, .about {
  text-align: left;
  padding: 5px 30px;
  color: #ffff;
  line-height: 90%;
}

.interests-tile, .about-tile {
  font-size: 16px;
  font-weight: 700;
}

.interests-content, .about-content {
  font-size: 10px;
}