body {
  background-color: black;
}

#root {
  width: 550px;
  height: 868px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height:780px;
  width: 317px;
  display: flex;
  flex-direction:column;
  align-items: center; 
}

.footer {
  height: 80px;
  width: 317px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; 
  align-self: flex-end;
}

.footer-icons {
  height: 40px;

  color: whitesmoke;
}

.footer-icon {
  padding: 5px 5px;
  background-color: #8888;
  border-radius: 2px;
  margin: 10px;
}

.footer-icon:hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
  background-color: rgba(168, 168, 168, 0.533);
}
